@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    html {
        scroll-behavior: smooth;
    }
    
    #home {
        background-image: url("../images/Hero.jpg");
    }

    .card {
        @apply border-solid border-black border-4 rounded-lg grid grid-rows-3 grid-cols-2 place-items-center p-4 m-4 shadow-xl transition duration-500 ease-in-out transform bg-gray;
    }

    .card:hover {
        @apply -translate-y-1 scale-110;
    }

    .card-hobby {
        @apply border-solid border-black border-4 rounded-lg m-4 shadow-xl transition duration-500 ease-in-out transform bg-gray text-center;
    }

    .card-hobby:hover {
        @apply -translate-y-1 scale-110;
    }

    .header-left {
        @apply order-first text-xl text-center text-white opacity-50 font-header;
    }

    .header-right {
        @apply order-first text-xl text-center text-white opacity-50 font-header;
    }
}

@screen md {
    .header-right {
        @apply order-last ml-32;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .header-left {
        @apply order-first mr-32;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}
