{% load static %}
<section
	id="skills"
	class="bg-green-dark flex flex-col md:flex-row md:justify-end p-4"
>
	<header class="header-right">
		SKILLS
	</header>
	<article class="card-hobby p-4">
		<h3 class="text-2xl font-secondary">Languanges</h3>
		<div class="grid grid-cols-2 gap-2 place-items-center pt-8">
			<object
				data="{% static 'images/Java.svg' %}"
				type="image/svg+xml"
				class="h-16 w-16"
			>
				Java
			</object>
			<object
				data="{% static 'images/Python.svg' %}"
				type="image/svg+xml"
				class="h-16 w-16"
			>
				Python
			</object>
			<object
				data="{% static 'images/HTML5.svg' %}"
				type="image/svg+xml"
				class="h-16 w-16"
			>
				HTML5
			</object>
			<object
				data="{% static 'images/CSS3.svg' %}"
				type="image/svg+xml"
				class="h-16 w-16"
			>
				CSS3
			</object>
		</div>
	</article>

	<article class="card-hobby p-4">
		<h3 class="text-2xl font-secondary">Tools</h3>
		<div class="grid grid-cols-2 gap-2 place-items-center pt-8">
			<object
				data="{% static 'images/VSCode.svg' %}"
				type="image/svg+xml"
				class="h-16 w-16"
			>
				VSCode
			</object>
			<object
				data="{% static 'images/Terminal.svg' %}"
				type="image/svg+xml"
				class="h-16 w-16"
			>
				Terminal
			
			</object>
		</div>
	</article>
</section>